<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	
		
	    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://goodbuysneakers.de/">GoodBuySneakers</a></strong>
			- GoodBuySneakers is a sneakers marketplace, which focuses more on the brands and models rather than the functionalities of them.
		</h5>
	    
	    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://ubersem.com/">uberSEM</a></strong>
			- Based in Berlin, uberSEM is an online marketing agency that focuses mainly on e-commerce and digital publishing; helps its customers optimize their marketing budget, increase search engine visibility, increase conversion rate and margins.
		</h5>
	    <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.ideava.com">Ideava</a></strong>
			- Building the Bridge Between Ideas and Profitability - CTO as a Service </br>

Ideava helps startups which need technical co-founder or CTO to get ready for their market. Founders pay us in cash or in equity to have their product ready for elevator pitch to investors and first customers.
		</h5>
		
		

    </div>
  </div>
</div>
</section>
